@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #2d2d2d;
  --primary-text-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}
