@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #2d2d2d;
  --primary-text-color: #d4d4d4;
  --secondary-text-color: #6e6e6e;
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}
