.badgesSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 250px;
}

.title {
  font-size: 22px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
}

.contentBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  width: 300px;
  border: 1px solid var(--primary-text-color);
  border-radius: 10px;
}

.badgeDescription {
  display: flex;
  gap: 10px;
}

.icon {
  height: 50px;
  width: 50px;
}

.badgeCount {
  display: flex;
  flex-direction: column;
}

.badgeList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.badgeItem {
  display: flex;
  width: fit-content;
  padding: 2px 10px 2px 0;
  background-color: #000;
  border-radius: 5px;
}

.badgeDot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

@media (max-width: 800px) {
  .badgesSection {
    align-items: center;
  }

  .content {
    justify-content: center;
  }
}
