.statsSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 250px;
  width: fit-content;
}

.title {
  font-size: 22px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  height: 100%;
  width: 300px;
  border: 1px solid var(--primary-text-color);
  border-radius: 10px;
}

.item {
  height: 60px;
  width: 50%;
}

@media (max-width: 800px) {
  .statsSection {
    width: 100%;
    align-items: center;
  }
}
